mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.largura-total {
  width: 100%;
}

.largura-minima {
  width: 100%;
  min-width: 150px;
}

.botao-espaço {
  margin-left: 5px;
}

.acoes-centralizadas {
  justify-content: center;
}
